<div>
    <button class="btn btn-primary m-3" (click)="getByAuthor('Bill Gates')">Bill Gates</button>
    <button class="btn btn-primary m-3" (click)="getByAuthor('Rumi')">Rumi</button>
    <button class="btn btn-primary m-3" (click)="getQuotes()">All quotes</button>


</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Quote</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let q of quotes">
            <ng-container *ngIf="isEditable ; then ifBlock else elseBlock">
            </ng-container>

            <ng-template #ifBlock>
                    <td><input [value]="q.id"/></td>
            </ng-template>
            <ng-template #elseBlock>
                    <td>{{q.id}}</td>
            </ng-template>

            <td>{{q.quote}}</td>
            <td>{{q.author}}</td>
            <td><a href="" 
                class="btn btn-primary" [routerLink]="['/quotes']" [queryParams]="{edit:true}">Edit</a>
            </td>
        </tr>

    </tbody>
</table>