
<h1>Products</h1>
<div class="container bg-warning p-3 m-2" *ngFor="let p of products">
    <p>Id is {{p.id}}</p>
    <p>Name is {{p.name}}</p>
    <p>Price is {{p.price}}</p>
</div>


<button class="btn btn-primary m-3" (click)="getProducts()">
    Get Products
</button>

<button class="btn btn-primary m-3" (click)="getProductsGreaterThan(300)">
   >300
</button>

<button class="btn btn-primary m-3" (click)="getProductsGreaterThan(400)">
   >400
</button>

<hr>
<button class="btn btn-primary m-3" *ngFor="let p of products"  
(click)="getProductByName(p.name)"> {{p.name}}</button>

<hr>

<h4>{{user.name}}</h4>